.clearfix:after {
    content: "";
    display: table;
    clear: both;
    height: 100%;
}


/* grid */

.row {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.header_row {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.col-3-3 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
    color: #ffffff;
}

button {
    margin: 0;
}


/* Style for "Picture section" */

.image {
    height: 100%;
    width: 100%;
}


/* Style for "Copyright" text */

span {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    /*margin: 0 auto;*/
    height: 80%;
    color: #ffffff;
    font-family: "PT Sans";
    /*font-size: 15px;*/
    font-weight: 400;
}

a:link {
    color: #ffffff;
    ;
}


/* Text style for "Demo Shop" */

@media all and ( min-width: 480px) {
    .row {
        width: 33.33%;
    }
    .col-1-2 {
        float: left;
        width: 100%;
        height: 30%;
    }
    .header_row {
        width: 33.33%;
    }
}

@media all and ( min-width: 800px) {
    .row {
        width: 80%;
    }
    .col-1-2 {
        float: left;
        width: 50%;
        height: 100%;
    }
    .image {
        height: 30%;
    }
    .header_row {
        width: 80%;
    }
}

@media all and (max-width: 479px) {
    [class*="col-"] {
        display: none;
    }
}